.cart-counter {
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    
}
.cart-counter h2{
    color: #6047EC;
    font-family: 'Exo 2';
    font-size: 24px;
}