.blog img {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

}

.blog {
    width: 90%;
    margin-bottom: 50px;
}

.title {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 40px;
    color: #111111;
}
@media screen and (max-width: 588px) {
    .blog-body{
        flex-direction: column;
        align-items: center;
        margin: 0; 
    }
    .blog-info{
        gap: 3px;
    }
    .title{
        font-size: 10px;
    }
}