.blog img {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

}

.blog {
    width: 90%;
    margin-bottom: 50px;
}

.title {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 40px;
    color: #111111;
}